## The Customer Cube

<div class="alert alert-block alert-info">
<blockquote>
<i>"The loftier the building, the deeper must the foundation be laid."</i>

<tab>- Thomas A Kempis
</blockquote>
ARR is the concrete for your foundation, then the customer cube is the foundation, and the metrics built on top of your customer cube, are the building.

The entire calculating is just the beginning.
</div>

### What is a Customer Cube?

In it's simplest form, a customer cube is ARR by month by customer by product. 

In terms of a visual, it's a matrix. Months as your column headers, ARR as your values, & everything else nested as your row headers.

| | |2024-01-31|2024-02-29|2024-03-31|2024-04-30|2024-05-31|2024-06-30|2024-07-31|
|---|---|---|---|---|---|---|---|---|
|Customer #1|Product #1|10,000|10,000|10,000|10,000|10,000|10,000|10,000|
|Customer #1|Product #2|8,000|8,000|8,000|8,000|8,000|8,000|8,000|
|Customer #2|Product #1|10,000|10,000|10,000|0|0|0|0|
|Customer #2|Product #2|8,000|8,000|8,000|0|0|0|0|
|Customer #2|Product #3|0|0|0|5,000|5,000|5,000|5,000|
|Customer #2|Product #4|0|0|0|12,000|12,000|12,000|12,000|
|Customer #3|Product #1|10,000|10,000|10,000|10,000|10,000|10,000|10,000|

In practice, this visual is easily presented from a classic star schema fact table in your data model.

|date_key|customer_key|product_key|arr|
|---|---|---|---|
|20240131|1|1|10000|
|20240229|1|1|10000|
|20240331|1|1|10000|
|20240430|1|1|10000|
|20240531|1|1|10000|
|20240630|1|1|10000|
|20240131|1|2|8000|
|20240229|1|2|8000|
|20240331|1|2|8000|
|...|...|...|...|
|20240531|3|1|10000|
|20240630|3|1|10000|

As your cube matures and requirements grow, it's natural for this cube to take on more datapoints and categorizations. Slap a key in the fact table and *build*.

<div class="alert alert-block alert-info">
I'll not be covering star schema. <a href="https://chrisadamson.com/star-schema-complete-reference/">Chris Adamson</a> does a much better job. Adamson lays out the technical, but with a lens of practicality. He conveys how data professionals will be involved in many decisions. These decisions are <i>business decisions</i> with <i>technical implications</i>.

One more time for the back of the room... <i>Business decisions</i> with <i>technical implications</i>. It's likely your data model will have issues, and sometimes, that's okay. These decisions will be made, whether yours or someone elses, to build in a sub-optimal way. You will constantly deal with resource, knowledge, time, cost, and political restraints. So, it's important to know when the technical implication (tech debt) is okay to take on and when it's not.

So, it's a great a thought by Adamson. Not just for data modelling, but for life. We're not perfect and neither is your data model.
</div>

## The Fake Company

To move further I've created a fake company w/

In [1]:
print('importing `CONTRACTS`')
from data.build_contracts import CONTRACTS
print(CONTRACTS.dtypes)
CONTRACTS.sample(10)

importing `CONTRACTS`
reading manually added contracts
performing initial sales
performing subsequent renewals
id                              int64
customer                       object
header.amount                   int64
header.start_date      datetime64[ns]
header.end_date        datetime64[ns]
header.booking_date    datetime64[ns]
line.amount                     int64
line.start_date        datetime64[ns]
line.end_date          datetime64[ns]
line.product                   object
line.renewable                   bool
dtype: object

,id,customer,header.amount,header.start_date,header.end_date,header.booking_date,line.amount,line.start_date,line.end_date,line.product,line.renewable
1394,114,Linklinks,93500,2022-10-04,2023-10-03,2022-10-04,13000,2022-10-04,2023-10-03,HRIS,True
783,140,Edgeclub,53000,2026-06-23,2027-06-22,2026-06-23,13000,2026-06-23,2027-06-22,HRIS,True
171,272,Skidoo,20000,2025-08-09,2026-08-08,2025-08-09,10000,2025-08-09,2026-08-08,BI,True
1381,112,Feednation,30500,2024-02-07,2025-02-06,2024-02-07,8500,2024-02-07,2025-02-06,ITS,True
109,286,Fivechat,80000,2025-05-02,2026-05-01,2025-05-02,6500,2025-05-02,2026-05-01,SCM,True
1407,119,Bubblemix,19000,2025-08-08,2027-08-07,2025-08-08,6000,2025-08-08,2027-08-07,IAM,True
534,194,Voomm,92000,2021-09-10,2022-09-09,2021-09-10,6000,2021-09-10,2022-09-09,IAM,True
696,157,Kayveo,47000,2021-02-14,2022-02-13,2021-02-14,25000,2021-02-14,2022-02-13,ERP,True
1020,39,Tavu,13000,2021-10-30,2022-10-29,2021-10-30,13000,2021-10-30,2022-10-29,LMS,True
1119,60,Tekfly,93500,2021-11-10,2022-11-09,2021-11-10,13000,2021-11-10,2022-11-09,HRIS,True

In [ ]:
# TODO: Build out the entire ARR overtime w/ each customer, product, and maybe contract
from arr import Contract
Contract.from_df(CONTRACTS[CONTRACTS['id'] == 121])

                          Youspan
            Contract #121 - $51,500 - 2025-08-17
                  2025-08-17 - 2026-08-16
************************************************************
product	start date	end date	amount	renewable
************************************************************
CPQ	2025-08-17	2026-08-16	$12,000	True
SCM	2025-08-17	2026-08-16	$6,500	True
DMS	2025-08-17	2026-08-16	$5,000	True
BI	2025-08-17	2026-08-16	$10,000	True
CMS	2025-08-17	2026-08-16	$5,000	True
LMS	2025-08-17	2026-08-16	$13,000	True
************************************************************