## The Customer Cube

<div class="alert alert-block alert-info">
<blockquote>
<i>"The loftier the building, the deeper must the foundation be laid."</i>

<tab>- Thomas A Kempis
</blockquote>
ARR is the concrete for your foundation, then the customer cube is the foundation, and the metrics built on top of your customer cube, are the building.

The entire calculating is just the beginning.
</div>

### What is a Customer Cube?

In it's simplest form, a customer cube is ARR by month by customer by product. 

In terms of a visual, it's a matrix. Months as your column headers, ARR as your values, & everything else nested as your row headers.

| | |2024-01-31|2024-02-29|2024-03-31|2024-04-30|2024-05-31|2024-06-30|2024-07-31|
|---|---|---|---|---|---|---|---|---|
|Customer #1|Product #1|10,000|10,000|10,000|10,000|10,000|10,000|10,000|
|Customer #1|Product #2|8,000|8,000|8,000|8,000|8,000|8,000|8,000|
|Customer #2|Product #1|10,000|10,000|10,000|0|0|0|0|
|Customer #2|Product #2|8,000|8,000|8,000|0|0|0|0|
|Customer #2|Product #3|0|0|0|5,000|5,000|5,000|5,000|
|Customer #2|Product #4|0|0|0|12,000|12,000|12,000|12,000|
|Customer #3|Product #1|10,000|10,000|10,000|10,000|10,000|10,000|10,000|

In practice, this visual is easily presented from a classic star schema fact table in your data model.

|date_key|customer_key|product_key|arr|
|---|---|---|---|
|20240131|1|1|10000|
|20240229|1|1|10000|
|20240331|1|1|10000|
|20240430|1|1|10000|
|20240531|1|1|10000|
|20240630|1|1|10000|
|20240131|1|2|8000|
|20240229|1|2|8000|
|20240331|1|2|8000|
|...|...|...|...|
|20240531|3|1|10000|
|20240630|3|1|10000|

As your cube matures and requirements grow, it's natural for this cube to take on more datapoints and categorizations. Slap a key in the fact table and *build*.

<div class="alert alert-block alert-info">
I'll not be covering star schema. <a href="https://chrisadamson.com/star-schema-complete-reference/">Chris Adamson</a> does a much better job. Adamson lays out the technical, but with a lens of practicality. He conveys how data professionals will be involved in many decisions. These decisions are <i>business decisions</i> with <i>technical implications</i>.

One more time for the back of the room... <i>Business decisions</i> with <i>technical implications</i>. It's likely your data model will have issues, and sometimes, that's okay. These decisions will be made, whether yours or someone elses, to build in a sub-optimal way. You will constantly deal with resource, knowledge, time, cost, and political restraints. So, it's important to know when the technical implication (tech debt) is okay to take on and when it's not.

So, it's a great a thought by Adamson. Not just for data modelling, but for life. We're not perfect and neither is your data model.
</div>

## The Fake Company

To move further I've created a fake company w/

In [1]:
print('importing `CONTRACTS`')
from data.build_contracts import CONTRACTS
print(CONTRACTS.dtypes)
CONTRACTS.sample(10)

importing `CONTRACTS`
reading manually added contracts
performing initial sales
performing subsequent renewals
id                              int64
customer                       object
header.amount                   int64
header.start_date      datetime64[ns]
header.end_date        datetime64[ns]
header.booking_date    datetime64[ns]
line.amount                     int64
line.start_date        datetime64[ns]
line.end_date          datetime64[ns]
line.product                   object
line.renewable                   bool
dtype: object

,id,customer,header.amount,header.start_date,header.end_date,header.booking_date,line.amount,line.start_date,line.end_date,line.product,line.renewable
1409,79,InnoZ,64500,2020-10-15,2021-10-14,2020-10-15,10000,2020-10-15,2021-10-14,CRM,True
1609,122,Oloo,37500,2023-12-22,2024-12-21,2023-12-22,13000,2023-12-22,2024-12-21,HRIS,True
454,232,Meeveo,103500,2024-06-28,2024-09-27,2024-06-28,6500,2024-06-28,2024-09-27,SCM,True
754,173,Nlounge,27500,2026-09-21,2026-12-20,2026-09-21,7500,2026-09-21,2026-12-20,DevOps,True
945,140,Divanoodle,131500,2023-07-28,2026-07-27,2023-07-28,10000,2023-07-28,2026-07-27,VPN,True
940,140,Divanoodle,131500,2023-07-28,2026-07-27,2023-07-28,5000,2023-07-28,2026-07-27,CMS,True
979,133,Centidel,97500,2026-03-08,2027-03-07,2026-03-08,10000,2026-03-08,2027-03-07,CRM,True
1044,9,Zooveo,33500,2024-10-20,2025-04-19,2024-10-20,7500,2024-10-20,2025-04-19,DevOps,True
1123,29,Flipopia,52000,2024-01-21,2025-01-20,2024-01-21,6500,2024-01-21,2025-01-20,SCM,True
1261,53,Divanoodle,106500,2022-07-28,2023-07-27,2022-07-28,6500,2022-07-28,2023-07-27,SCM,True