## The Customer Cube

<div class="alert alert-block alert-info">
<blockquote>
<i>"The loftier the building, the deeper must the foundation be laid."</i>

<tab>- Thomas A Kempis
</blockquote>
ARR is the concrete for your foundation, then the customer cube is the foundation, and the metrics built on top of your customer cube, are the building.

The entire calculating is just the beginning.
</div>

### What is a Customer Cube?

In it's simplest form, a customer cube is ARR by month by customer by product. 

In terms of a visual, it's a matrix. Months as your column headers, ARR as your values, & everything else nested as your row headers.

| | |2024-01-31|2024-02-29|2024-03-31|2024-04-30|2024-05-31|2024-06-30|2024-07-31|
|---|---|---|---|---|---|---|---|---|
|Customer #1|Product #1|10,000|10,000|10,000|10,000|10,000|10,000|10,000|
|Customer #1|Product #2|8,000|8,000|8,000|8,000|8,000|8,000|8,000|
|Customer #2|Product #1|10,000|10,000|10,000|0|0|0|0|
|Customer #2|Product #2|8,000|8,000|8,000|0|0|0|0|
|Customer #2|Product #3|0|0|0|5,000|5,000|5,000|5,000|
|Customer #2|Product #4|0|0|0|12,000|12,000|12,000|12,000|
|Customer #3|Product #1|10,000|10,000|10,000|10,000|10,000|10,000|10,000|

In practice, this visual is easily presented from a classic star schema fact table in your data model.

|date_key|customer_key|product_key|arr|
|---|---|---|---|
|20240131|1|1|10000|
|20240229|1|1|10000|
|20240331|1|1|10000|
|20240430|1|1|10000|
|20240531|1|1|10000|
|20240630|1|1|10000|
|20240131|1|2|8000|
|20240229|1|2|8000|
|20240331|1|2|8000|
|...|...|...|...|
|20240531|3|1|10000|
|20240630|3|1|10000|

As your cube matures and requirements grow, it's natural for this cube to take on more datapoints and categorizations. Slap a key in the fact table and *build*.

<div class="alert alert-block alert-info">
I'll not be covering star schema. <a href="https://chrisadamson.com/star-schema-complete-reference/">Chris Adamson</a> does a much better job. Adamson lays out the technical, but with a lens of practicality. He conveys how data professionals will be involved in many decisions. These decisions are <i>business decisions</i> with <i>technical implications</i>.

One more time for the back of the room... <i>Business decisions</i> with <i>technical implications</i>. It's likely your data model will have issues, and sometimes, that's okay. These decisions will be made, whether yours or someone elses, to build in a sub-optimal way. You will constantly deal with resource, knowledge, time, cost, and political restraints. So, it's important to know when the technical implication (tech debt) is okay to take on and when it's not.

So, it's a great a thought by Adamson. Not just for data modelling, but for life. We're not perfect and neither is your data model.
</div>

## The Fake Company

To move further I've created a fake company w/

In [3]:
print('importing `CONTRACTS`')
from data.build_contracts import CONTRACTS
print(CONTRACTS.dtypes)
CONTRACTS.sample(10)

importing `CONTRACTS`
id                      int64
customer               object
header.amount           int64
header.start_date      object
header.end_date        object
header.booking_date    object
line.amount             int64
line.start_date        object
line.end_date          object
line.product           object
line.renewable           bool
dtype: object

,id,customer,header.amount,header.start_date,header.end_date,header.booking_date,line.amount,line.start_date,line.end_date,line.product,line.renewable
1478,100,Thoughtblab,51500,2025-09-25,2026-09-24,2025-09-25,13000,2025-09-25,2026-09-24,HRIS,True
573,228,Feednation,33000,2025-05-26,2027-05-25,2025-05-26,13000,2025-05-26,2027-05-25,LMS,True
1249,48,Tagchat,49000,2024-06-20,2025-06-19,2024-06-20,5000,2024-06-20,2025-06-19,DMS,True
1423,85,Flashdog,92000,2026-11-22,2027-11-21,2026-11-22,13000,2026-11-22,2027-11-21,HRIS,True
1556,117,Roomm,81000,2020-02-12,2021-02-11,2020-02-12,12000,2020-02-12,2021-02-11,CPQ,True
1203,37,Mycat,39000,2021-02-16,2022-02-15,2021-02-16,5000,2021-02-16,2022-02-15,DMS,True
654,209,Youspan,45000,2022-05-07,2023-05-06,2022-05-07,12000,2022-05-07,2023-05-06,CPQ,True
1215,41,Yotz,125500,2022-04-29,2023-04-28,2022-04-29,6500,2022-04-29,2023-04-28,SCM,True
941,146,Feednation,20000,2025-02-26,2025-05-25,2025-02-26,10000,2025-02-26,2025-05-25,VPN,True
1590,124,Nlounge,96000,2023-04-18,2024-04-17,2023-04-18,13000,2023-04-18,2024-04-17,LMS,True