In [132]:
from datetime import date, timedelta
from random import choices, choice

from dateutil.relativedelta import relativedelta

In [133]:
contract_lengths = [3, 6, 12, 24, 36]
contract_weights = [.1, .05, .6, .2, .05]
contract_range = choices(contract_lengths, contract_weights)[0]

date_range = (date(2020, 1, 1), date(2026, 12, 31))


start_date = date_range[0] + timedelta(
    days=choice(range((date_range[1] - date_range[0]).days))
)

end_date = start_date + relativedelta(months=contract_range)

contract_range

12

In [ ]:
import pandas as pd
customer = pd.read_excel('saas_corp.xlsx','customer')
customer.set_index('key', inplace=True)

product = pd.read_excel('saas_corp.xlsx','product')
product.set_index('key', inplace=True)
product
# probably easier to manage as a list instead...

,product_name,full_name,family,amount
key,,,,
1,CRM,Customer Relationship Management,Business Operations and Management,100000
2,ERP,Enterprise Resource Planning,Business Operations and Management,250000
3,ITS,Issue Tracking System,IT and Development,85000
4,CMS,Content Management System,Content and Document Management,50000
5,BI,Business Intelligence,Analytics and Intelligence,100000
6,CPQ,"Configure, Price, Quote",Business Operations and Management,120000
7,DevOps,Development and Operations,IT and Development,75000
8,LMS,Learning Management System,Learning and Training,130000
9,VPN,Virtual Private Network,IT and Development,100000
10,IAM,Identity and Access Management,IT and Development,60000
11,DMS,Document Management System,Content and Document Management,50000
12,SCM,Supply Chain Management,Business Operations and Management,65000
13,HRIS,Human Resource Information System,Business Operations and Management,130000

In [ ]:
product_weights = [.8, .6, .4, .2, .1, .05, .01, .001]

add_item = True
items = pd.DataFrame()
potential_product = product
while add_item:
    item = choice(potential_product.index)
    items.append(potential_product.iloc[item-1:item])
    # product_weights = product_weights[1:]

# product.iloc[choice(product.index)-1]

# product.iloc[6:9]

    product_name                   full_name                 family  amount
key
7         DevOps  Development and Operations     IT and Development   75000
8            LMS  Learning Management System  Learning and Training  130000
9            VPN     Virtual Private Network     IT and Development  100000